<header class="hero flex items-center justify-center flex-col p-24">
  <h1>Experiment Day PI 24.3</h1>
  <span>Learn how to improve application performance!</span>
</header>
<div class="grid grid-cols-3 gap-6 p-8">
  <a href="">
    <mat-card
      appearance="outlined"
      class="min-h-60 items-center justify-center"
    >
      <mat-card-title>Products</mat-card-title>
      <mat-card-content>View all products</mat-card-content>
    </mat-card>
  </a>
  <a href="">
    <mat-card
      appearance="outlined"
      class="min-h-60 items-center justify-center"
    >
      <mat-card-title>Recipes</mat-card-title>
      <mat-card-content>Discover new recipes</mat-card-content>
    </mat-card>
  </a>
  <a href="">
    <mat-card
      appearance="outlined"
      class="min-h-60 items-center justify-center"
    >
      <mat-card-title>Posts</mat-card-title>
      <mat-card-content>Find out what our users are saying</mat-card-content>
    </mat-card>
  </a>
</div>
