@if(store.product(); as product){
<div class="p-8">
  <a
    mat-button
    routerLink="/products"
    aria-label="Back arrow to navigate back to posts"
  >
    <mat-icon>arrow_back</mat-icon>
    <span>Back</span>
  </a>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (link of links; track link) {
    <a
      mat-tab-link
      (click)="activeLink = link"
      [active]="activeLink == link"
      [routerLink]="[link]"
    >
      {{ link | titlecase }}
    </a>
    }
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <router-outlet />
  <!-- <mat-tab-group>
    <mat-tab label="Overview" routerLink="/overview">
      <router-outlet></router-outlet>
    </mat-tab>
    <mat-tab label="Images" #image>
      @defer (on viewport) {<app-images [product]="product" />} @placeholder {
      <div>Images placeholder</div>
      }
    </mat-tab>
    <mat-tab label="Reviews">
      @defer(on viewport){<app-reviews [product]="product" />} @placeholder {
      <div>Reviews placeholder</div>
      }
    </mat-tab>
  </mat-tab-group> -->
</div>
} @else if (store.isLoading()) {
<mat-spinner></mat-spinner>
} @else {
<app-error></app-error>
}
