@if(store.product(); as product){
<div class="p-8">
  <a
    mat-button
    routerLink="/products"
    aria-label="Back arrow to navigate back to posts"
  >
    <mat-icon>arrow_back</mat-icon>
    <span>Back</span>
  </a>
  <mat-tab-group>
    <mat-tab label="Overview">
      <app-overview [product]="product" class="flex flex-col items-center p-16"
    /></mat-tab>
    <mat-tab label="Images" #image>
      <!-- Prime Candidate on view port -->
      <app-images [product]="product" />
    </mat-tab>
    <mat-tab label="Reviews">
      <!-- Prime Candidate on view port -->
      <app-reviews [product]="product" />
    </mat-tab>
  </mat-tab-group>
</div>
} @else if (store.isLoading()) {
<mat-spinner></mat-spinner>
} @else {
<app-error></app-error>
}
